<form method="post" class="validateForm">
	Mquery: execute query, or parse and execute: table name, part of table name, or nothing at all:<br />
	<textarea name="sql" rows="10" cols="200">{$sql}</textarea><br />
	<input type="hidden" name="className" value="Mquery">
	<input type="hidden" name="action" value="go">
	<input type="submit" value="Go">
</form>
