<h5>
	<a href="/{$tableName}?className={$className}&tableName={$tableName}">{$tableName}</a>
	<a href="/{$tableName}?className={$className}&tableName={$tableName}&action=newForm">New {$tableName} Record</a>
</h5>
